.NewArrival {
    width: 100dvw;
    height: 150dvh;
    display: flex;
    flex-direction: column;
    gap: 2dvw;
    margin-top: 10dvh;
}

.NewArrival h2 {
    width: 100dvw;
    display: flex;
    align-items: center;
    gap: 0.5dvw;
    padding-left: 8dvw;
    font-size: 18px;
    font-weight: 500;
    color: #DB4444;
}

.NewArrival h2 p {
    width: 22px;
    height: 47px;
    background-color: #DB4444;
    border-radius: 5px;
}

.NewArrival h1 {
    padding-left: 8dvw;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 550;
    letter-spacing: 3px;
}

.triple-cart {
    width: 100dvw;
    height: 90dvh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.playstation-cart {
    /* position: relative; */
    width: 35dvw;
    height: 70dvh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.open-cart {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 20dvw;
    height: 30dvh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3dvh;
}

.open-cart h3 {
    font-size: 28px;
    font-family: sans-serif;
    color: #fff;
    font-weight: 500;
    letter-spacing: 3px;
}

.open-cart p {
    color: #fff;
    font-size: 16px;
    width: 15dvw;
}

.open-cart button {
    width: 5dvw;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    color: #fff;
}